.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0;
}

img {
  width: 300px;
  height: 400px;
}

img:hover {
  width: 290px;
  height: 390px;
  border: 10px solid rgb(108, 3, 3);
}

.container p {
  color: white;
  font-weight: 600;
}
