.App {
  background: linear-gradient(#ed1c4a 10%, #000000 80%);
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  padding-top: 20px;
}
